.aadhaar-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #d5d5d5;
  &-overlay {
    background: #5b5b5bc9;
  }
  &-content {
    background: white;
    .header-label {
      padding: 8px 12px;
      border-bottom: 1px solid #d5d5d5;
      h4 {
        font-size: 20px;
        margin-bottom: 4px;
      }
      p {
        color: #177bd8;
        font-weight: 500;
      }
    }
    .form {
      gap: 12px;
      padding: 12px;
      span {
        width: 20%;
      }
      .aadhaar-form-input {
        gap: 4px;
        .btn {
          font-weight: bolder;
        }
      }
      .aadhaar-form-agree {
        margin-top: 8px;
        align-items: baseline;
        gap: 8px;
        label span {
          text-decoration: underline;
        }
      }
      .aadhaar-otp-input {
        gap: 8px;
        margin-top: 12px;
        .input {
          margin: 0 20px;
        }
      }
    }
  }
}
