.aadhaar-otp-component {
  .container {
    .content {
      padding: 32px 12px;
      .document {
        padding: 0 20px;
        &-btn {
          button {
            margin-top: 8px;
            font-weight: bolder;
          }
        }
      }
    }
  }
}
